
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,500&display=swap');


@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    font-family: 'Poppins', sans-serif;
}
.check-bg{
    background-color: #F3F3F3;

}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size:16px;
    font-weight:400
  }
  input{
    color:#898B8D;
  }
  input:focus {
    border-color:#FFA500!important;
  }
  ul{
    li{
        &:hover{
            color:#FFA500;
        }
    }
  }
.home-slide {
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #ffffff;
    }
    .slick-slider {
        width:790px;
        height:520px;
        background: linear-gradient(180deg, #C9D6DF 0%, #CAD7E0 32.04%, #BFCDD6 48.55%, #ACB8C1 65.89%, #A5B2BB 72.64%, #A0AAB4 78.64%, #96A0AA 85.47%, #8F99A3 92.89%, #88959E 100%);
    }
    .slick-dots{
        bottom:12px
        // .slick-active{
        //     background-color:red
     
    }
    .slick-dots li button:before{
 font-size:17px;
 color:#D9D9D9
    }
   
}
.custom_hover{
    
    transition:2sec linear;
        &:hover{
        box-shadow:0px 0px 2px 0px rgba(0,0,0,0.4);
  
         img{
             transform:scale(1.09);
         }
    }
}
.popular_deal{
    .slick-slider{
         max-height:5600px
    }
    .slick-slide {
        margin: 0 8px!important;
      }
      .slick-prev:before, .slick-next:before {
      
        color: #666666!important;
      
    }
      .slick-prev {
        left: 622px!important;
        top: 450px!important;
     border:2px solid #666666!important ;
        width:38px!important;
        height:38px!important;
        border-radius:50%
         
    }
    .slick-next {
        top: 450px!important;
        right: 680px!important;
        border:2px solid #666666!important ;
        width:38px!important;
        height:38px!important;
        border-radius:50%
    }
    
}
.ant-modal-header{
    border-bottom:1px solid #DDDDDD;
    padding: 10px 6px;
}
.ant-modal-content{
    padding:0px 0px!important;
}
.rec-carousel-wrapper{
    position:relative;
}
.rec-arrow-left{
    position:absolute;
    top:108%;
    left:45%
}
.rec-arrow-right{
    position:absolute;
    top:108%;
    right:45%  
}
.kXteup {
    &:hover{
        background-color:#FFA500!important;
    }
}
.fix-menu {
    // padding: 22px 0px !important;
  
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #232F3E;
    animation: 0.9s ease 0s normal both 1 running fixedAnim;
    -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
    -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
    -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
    // -webkit-box-shadow: 0 4px 16px rgb(0 0 0 / 29%);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.29);
  }
  @keyframes fixedAnim {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
 

  .ant-menu-submenu-popup {

   
  }
  .ant-menu-submenu{
    &:hover{
      background-color:#FFA500;
    }
  
    
  

  }

  .vertical_scroll{

  height:400px;
    overflow-y: scroll;
  //   &::-webkit-scrollbar {
  //       width: 3px;               /* width of the entire scrollbar */
  //     }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: blue;    /* color of the scroll thumb */
  //     border-radius: 20px;       /* roundness of the scroll thumb */
  //     border: 3px solid orange;  /* creates padding around scroll thumb */
  //   }
     &::-webkit-scrollbar-track {
    background: red!important;
  }

  }
  .vertical_scroll-y{
     
 
      overflow-y: scroll;
      &::-webkit-scrollbar {
          width: 30px!important;               /* width of the entire scrollbar */
        }
    //   &::-webkit-scrollbar-thumb {
    //     background-color: blue;    /* color of the scroll thumb */
    //     border-radius: 20px;       /* roundness of the scroll thumb */
    //     // border: 3px solid orange;  /* creates padding around scroll thumb */
    //   }
    //    &::-webkit-scrollbar-track {
    //   // background: #0000!important;
    // }
  
    }

  // .scrollbar {
  //   background-color: #F5F5F5;
  //   float: left;
  //   height: 300px;
  //   margin-bottom: 25px;
  //   margin-left: 22px;
  //   margin-top: 40px;
  //   width: 65px;
  //   overflow-y: scroll;
  // }
  // ::-webkit-scrollbar-track {
  //   background: #0000!important;
  // }
  // ::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }
  .force-overflow {
    min-height: 450px;
  }
  .side-menu{
    box-shadow:1px 1px 1px 0px rgba(0,0,0,0.3)!important;

  }
  .radius{
    border-radius:0!important;

  }
  
  .pagination-section {
  ul.ant-pagination {
    li {
      border-radius: 5px;
      border: 1px solid #FFA500!important;
      background-color:#FFA500;
      &:hover{
        background-color:#232F3E!important;
        color:#ffffff!important;;
      }
      a{
        color:#ffffff
      }
 
    }
 
    li.ant-pagination-item-active {
     
      color: #ffffff;
      background-color:#232F3E;
      border: 1px solid #232F3E!important;
     
    }

    .ant-pagination-item-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.ant-menu-submenu{
  border-radius: 0!important;

}
input[type='radio'] {
  margin: 1px;
  box-sizing: border-box;
  border-radius: 2px;
  appearance: none;
  background: white;
  outline: 1px solid #444444;

  width: 16px;
  height: 16px;
  position: relative;
}
input[type=radio]:checked {
  background-color: #FFA500;
  border: 3px solid white;
  border-radius: 50%;

}
 


  


